/** @format */

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container {
  margin: 5rem;
}

.shift-table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
